{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
    <div class=""
        {{ react_component('SignIn', {
            lastUsername: last_username,
            csrfToken: csrf_token('auth_token'),
            error: error ? error.messageKey|trans(error.messageData, 'security') : null
        }) }}>
    </div>
{% endblock %}
