<style>
    .loader-wrapper {
        position: fixed;
        inset: 0;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        transition: opacity 0.3s ease-in-out;
    }


    .spinner {
        width: 60px;
        height: 60px;
        border: 6px solid rgba(255, 255, 255, 1);
        border-top: 6px solid #000000;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
</style>

<body>
<div class="loader-wrapper flex flex-col">
    <h1 class="py-2 text-accent-content/30 font-bold">Show Time</h1>
    <div class="spinner"></div>
</div>
</body>
