{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div {{ react_component('PageNotFound') }}>
        Loading...
    </div>
{% endblock %}
